@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

main {
    font-family: poppins, sans-serif;
    font-weight: 500;
    font-style: normal;
    scroll-behavior: smooth;
}

.navbar__links a:hover {
    cursor: pointer;
}

.tooltip {
    color: #f1f1f1;
    position: relative;
    background-color: #384b52;
    border-radius: 100%;
    cursor: help;
    text-align: center;
}

.tooltip::after {
    position: absolute;
    left: 50%;
    opacity: 0;
    transition: all ease 0.3s;
    content: attr(data-tooltip);
    background: rgba(0, 0, 0, 1);
    bottom: -1.3rem;
    min-width: 4rem;
    margin-left: -2.5rem;
    border-radius: 0.4rem;
    padding: 0.25rem 0.5rem;
    z-index: 1;
}

.tooltip:hover::after {
    opacity: 1;
}

.tooltip__tall:hover::after {
    margin-left: -4rem;
    bottom: -2.25rem;
    width: 8rem;
}

.swal2-popup button {
    background-color: #7eaecd !important;
}
.swal2-popup button:focus {
    box-shadow: none;
}

.swal2-confirm:focus {
    box-shadow: 0 0 0 3px #a1dcf0 !important;
}

@layer components {
    section {
        @apply w-full h-auto py-[8rem] tablet:py-[8rem] px-10 tablet:px-[3rem] desktop:px-[10rem];
    }
    .btn {
        @apply py-[2vh] rounded-[.4rem] text-xs lg:text-sm font-regular leading-auto transition-all;
    }

    .btn__light--blue {
        @apply bg-blue  hover:bg-lightBlue text-black;
    }

    .btn__light--black {
        @apply bg-black dark:bg-offBlack text-blue hover:bg-offBlack border border-lightBlue;
    }

    .cardBtn {
        @apply rounded-[.4rem] text-xs font-regular w-fit my-[.8rem] py-[.5rem] px-[4rem] transition-all;
    }
    .cardBtn__light {
        @apply bg-blue text-black border border-black hover:bg-lightBlue hover:text-offBlack;
    }

    .cardBtn__dark {
        @apply bg-black text-lightBlue border border-lightBlue hover:bg-offBlack;
    }

    .headings--h2 {
        @apply text-black dark:text-white text-xl font-bold leading-[6.6rem];
    }

    .headings__left--h5 {
        @apply relative text-offBlack font-medium leading-lg uppercase tracking-[.75rem] before:content-[''] before:w-[1.6rem] before:h-[.2rem] before:bg-blue dark:before:bg-offWhite before:absolute before:bottom-1/2 before:left-0 before:-translate-y-1/2 pl-[2.6rem] dark:text-blue;
    }

    .headings__right--h5 {
        @apply relative text-offBlack font-medium leading-lg uppercase tracking-[.75rem] after:content-[''] after:w-[1.6rem] after:h-[.2rem] after:bg-blue dark:after:bg-offWhite after:absolute after:bottom-1/2 after:right-0 after:-translate-y-1/2 pr-[2.6rem] dark:text-blue;
    }

    .sun {
        @apply text-xl text-white;
    }
    .moon {
        @apply text-xl text-black;
    }
}
